.projects-section {
  text-align: start;
  width: 100%;
}

.projects-section-title {
  padding-left: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;

  grid-auto-rows: 1fr;
  align-items: center;
}
