.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 1);

  user-select: none;
}

.project-link {
  padding: 0;
}

.project-img {
  width: 100%;
  opacity: 0.9;
  border-radius: 0 0 1rem 1rem;
}

.project-description-container {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.project-description-container h3 {
  font-size: 32px;
  font-family: var(--subtitle-font);
  letter-spacing: 0.03em;
}

.project-description-container p {
  font-size: 16px;
  text-wrap: pretty;
  font-family: var(--buttons-font);
}

.used-technologies h4 {
  display: inline;
  font-size: 0.8rem;
  text-wrap: nowrap;
  align-self: flex-start;
  padding-top: 0.1rem;
  font-weight: 600;
}

.used-technologies {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
