.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 1);

  user-select: none;
}

.project-link {
  padding: 0;
}

.project-img {
  width: 100%;

  border-radius: 0 0 1rem 1rem;
}

.project-description-container {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-size: 12px;
}

.project-description-container p {
  font-size: 16px;
  text-wrap: pretty;
}

.used-technologies h4 {
  display: inline;
  font-size: 16px;
}

.used-technologies {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.used-technologies h4 {
  font-size: 1rem;
  text-wrap: nowrap;
  align-self: flex-start;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
