.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  height: 10vh;
  min-height: fit-content;
  padding: 1rem;
  gap: 2rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  flex-wrap: wrap;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 5px;
  transition: filter 0.3s ease-out;
}

svg {
  height: 3rem;
  aspect-ratio: 1/1;
}

.skill-container:hover {
  filter: drop-shadow(0px 0px 20px rgb(192, 206, 224));
}

.skill-name {
  user-select: none;
  font-family: var(--buttons-font);
  font-weight: bold;
}
