.contact-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contacts-container {
  flex-grow: 1;
  display: flex;
  align-items: start;
  justify-content: start;

  padding: 5px 10px 5px 0;
  gap: 1rem;
}

a {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  background-color: var(--background-dark);
}

a div {
  background-color: var(--background-dark);
}

a div svg {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-container {
  position: relative;
  width: fit-content;
  flex-grow: 1;
}

.mail-container span {
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
  white-space: nowrap;
  padding: 0.5em;
  margin: 0;
  color: var(--background-dark);
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: left 0.5s ease-in-out, color 0.5s ease-in, opacity 0.5s ease-in;
}

.mail-container:hover {
  width: fit-content;
  overflow: visible;
  cursor: pointer;
}

.mail-container a:hover span {
  opacity: 1;
  color: var(--font-color-dark);
  letter-spacing: 0.05em;
  left: 100%;
  visibility: visible;
  transition: left 0.5s ease-in-out, color 0.5s ease-in, opacity 0.5s ease-in;
  user-select: text;
}

a div img {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
