header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 5px;
  z-index: 20;
}

nav {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--secondary-color-dark);
  min-width: 500px;
  width: 50vw;
  opacity: 0.5;
  transition: opacity 2s ease;
}

nav:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 20;
}

.nav-options {
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-option {
  user-select: none;
  font-weight: lighter;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 5px;
  text-wrap: nowrap;
  transition: background-color 0.5s ease;
}

.nav-option:hover {
  cursor: pointer;
  background-color: var(--primary-color-dark);
}
