.tooltip {
  font-family: var(--buttons-font);
  font-weight: 600;
  width: fit-content;
  text-wrap: nowrap;
  font-size: 0.8rem;
  background-color: #000;
  opacity: 0.8;
  padding: 5px;
  border-radius: 10px 10px 10px 0;
  position: absolute;
  z-index: 10;
  top: -27px;
  left: 32px;
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}
