.about-me-section {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60%;
  height: 10vh;
  min-height: fit-content;
  padding: 1rem;
  gap: 1rem;
}

.about-me-content {
  text-align: start;
  max-width: 60ch;
}
