.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  min-height: fit-content;
  padding: 1rem;
  gap: 1rem;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-me-content {
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5rem;
  font-weight: 400;
  text-wrap: pretty;
}
