.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
  height: 10vh;
  min-height: fit-content;
  padding: 1rem;
  gap: 1rem;
}

.about-me-content {
  font-size: 1.5rem;
  text-align: start;
  letter-spacing: 0.05em;
  font-weight: 300;
  max-width: 60ch;
  text-wrap: pretty;
}
